@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: auto;
  /* font-size: 100%; */
  background-color: #2C2B3D;

}

.cabeçalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 71px;
}

.cabeçalho-imagem {
  height: 23px;
}

.cabeçalho-menu {
  display: flex;
  gap: 64px;
  ;
}

.topico-cabeçalho {
  font-family: 'JetBrains Mono', monospace;
  color: #ffffff;
  font-weight: 500px;
  font-size: 14px;
}

.conteudo {
  margin-bottom: 157px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 101px;


}

.imagem-principal {
  height: 283px;


}

.texto-principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 700px;
  font-size: 36px;
  align-items: center;
  color: #ffffff;

}

.p1 {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400px;
  color: #C2C2C2;
  line-height: 28px;
}

.p2 {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400px;
  color: #C2C2C2;
  line-height: 28px;
}

span {
  color: #00BFA6;
}

footer {
  margin-top: 157px;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 450px;


}

.p3 {
  border-top: 0.4px solid #00BFA6;
  padding-top: 27px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500px;
  color: #ffff;

}

.imagem-rodape {
  margin-left: 20px;
}